<div class="main">
    <section>
      <!--   <button id="sideBar">Show/Hide Right Push Menu</button> -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-7">
                    <h1>Projects</h1>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group search-header">
                      <img src="images/search_icon.svg" alt="">
                      <input type="text" class="form-control" placeholder="Search Project Name" aria-label="Search Project Name" aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="holder-lead">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="title-filters">Apply Filters</span>
                    </div>
                    <div class="col-md-6">
                      <a class="btn btn-project float-right"    (click)="goToAddProject(0)"><i class="fa plus-icon">+</i> Add New Project</a>
                    </div>
                  </div>
                </div>
                <div class="lead-container" *ngFor="let project of projects">
                  <h1>{{project.title}} <span class="location">{{project.locality_name}}</span></h1>
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-4">
                          <span class="grid-details">
                            <span class="light-text">Possession:</span>{{project.possesion}}
                          </span>
                        </div>
                        <div class="col-md-4">
                          <span class="grid-details">
                            <span class="light-text">Knowledge Centre:</span>{{project.knowledge}}
                          </span>
                        </div>
                         <div class="w-100"></div>


                        <div class="col-md-4">
                          <span class="grid-details">
                            <span class="light-text">Budget Range:</span>{{project.budget}}
                          </span>
                        </div>
                        <div class="col-md-4">
                          <span class="grid-details">
                            <span class="light-text">Status:</span>{{project.status}}
                          </span>
                        </div>
                        <div class="col-md-4">
                          <span class="grid-details">
                            <span class="light-text">Website:</span>{{project.website}}
                          </span>
                        </div>
                      </div>
                      
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-12 text-right">
                          <span class="grid-details">
                            <a  class="text-link" [routerLink]=""  (click)="goToAddProject(project.id)">Edit Details</a>
                          </span>
                           </div>
                            <div class="col-md-12 text-right">
                           <span class="grid-details">
                            <a  class="text-link" [routerLink]=""  (click)="goToAssignBroker('Godrej Skyline')">Assign Broker</a>
                          </span>
                        </div>
                      </div>
                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    
  </div>


 
