<div class="main">
  <section>
   
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-7">
                  <h1>Brokers</h1>
                </div>
                <div class="col-md-5">
                  <div class="input-group search-header">
                    <img src="images/search_icon.svg" alt="">
                    <input type="text" class="form-control" placeholder="Search by Name" aria-label="Search Name, Email or Phone" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              
              <div class="lead-container">
                <form action="">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" (click)="getActiveBroker(currentPage)">All Brokers</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="getBlacklistedBroker(currentPage)">Blacklisted</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                          <table id="dataTablesAll" class="table table-borderless table-hover dataTables" datatable [dtOptions]="brokerTableOptions" [dtTrigger]="brokerTableTriggerAll">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Firm Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Active Projects</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr  *ngFor="let broker of responseAllBroker | paginate: { id: 'server', itemsPerPage: 2, currentPage: currentPage, totalItems: totalCount }">
                                <td>{{broker.broker_name}}</td>
                                <td>{{broker.broker_firm_name}}</td>
                                <td>{{broker.broker_contact_number}}</td>
                                <td>{{broker.broker_email}}</td>
                                <td><a href="" [routerLink]=""  (click)="goToActiveProjects()">{{broker.activeProjects}}</a></td>
                                <td class="font-weight-bold" (click)="blackListBroker()"><span>Blacklist</span></td>
                              </tr>
                             </tbody>
                           </table>
                           <pagination-controls (pageChange)="getActiveBroker($event)" id="server"></pagination-controls>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                          <table id="dataTablesBlack" class="table table-borderless table-hover dataTables" datatable [dtOptions]="brokerTableOptions" [dtTrigger]="brokerTableTriggerBlack">
                            <thead>
                              <tr >
                                <th>Name</th>
                                <th>Firm Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Active Projects</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let broker of responseBlackListedBroker  | paginate: { id: 'server', itemsPerPage: 5, currentPage: currentPage, totalItems: totalCount }">
                                <td>{{broker.broker_name}}</td>
                                <td>{{broker.broker_firm_name}}</td>
                                <td>{{broker.broker_contact_number}}</td>
                                <td>{{broker.broker_email}}</td>
                                <td><a href="" [routerLink]=""  (click)="goToActiveProjects()">{{broker.activeProjects}}</a></td>
                                <td class="font-weight-bold" (click)="removeBlackList()"><span>Remove</span></td>
                              </tr>
                            </tbody>
                           </table>
                           <pagination-controls (pageChange)="getBlacklistedBroker($event)" id="server"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>