<section>
  <!--   <button id="sideBar">Show/Hide Right Push Menu</button> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header editProject">
            <div class="row">
              <div class="col-md-7">
                <h1>{{projectTitle}} <span class="location">{{locality}}</span></h1>
              </div>
              
            </div>
          </div>
          <div class="card-body">
            
            <div class="lead-container">
              <form novalidate (ngSubmit)="addProjectData(addProjectForm)" [formGroup]="addProjectForm" autocomplete="off">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Project Name</label>
                          <input type="text" class="form-control"  placeholder="Name" formControlName="name">
                          <span class="error" *ngIf="(addProjectForm.get('name').hasError('required') && addProjectForm.get('name').touched)">
                            This field is mandatory
                          </span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Project Location</label>
                          <input type="text" class="form-control"  placeholder="Location" formControlName="location">
                          <span class="error" *ngIf="(addProjectForm.get('location').hasError('required') && addProjectForm.get('location').touched)">
                            This field is mandatory
                          </span>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-3">
                        <label for="formGroupExampleInput">Budget Range</label>
                        <div class="row">
                          <div class="form-group col-md-8">
                            <div class="input-group">
                              <input type="text" aria-label="First name" class="form-control" formControlName="budgetFrom">
                              <span *ngIf="(addProjectForm.get('budgetFrom').hasError('pattern') && addProjectForm.get('budgetFrom').touched)" class="error">*Enter Numbers only</span>
                              <select class="form-control" formControlName="budgetFromUnit">
                                <option value="Lc" [selected]=true>Lc</option>
                                <option value="CR">CR</option>
                              </select>
                              <span class="error" *ngIf="(addProjectForm.get('budgetFrom').hasError('required') && addProjectForm.get('budgetFrom').touched)">
                                This field is mandatory
                              </span>
                            </div>
                          </div>
                          <div class="form-group col-md-8">
                            <div class="input-group">
                              <input type="text" aria-label="First name" class="form-control" formControlName="budgetTo">
                              <span *ngIf="(addProjectForm.get('budgetTo').hasError('pattern') && addProjectForm.get('budgetTo').touched)" class="error">*Enter Numbers only</span>
                              <select class="form-control" formControlName="budgetToUnit">
                                <option value="Lc" [selected]=true>Lc</option>
                                <option value="CR">CR</option>
                              </select>
                              <span class="error" *ngIf="(addProjectForm.get('budgetTo').hasError('required') && addProjectForm.get('budgetTo').touched)">
                                This field is mandatory
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Possession</label>
                          <select class="form-control" formControlName="possesion">
                            <option selected>Select</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                          </select>
                          <span class="error" *ngIf="(addProjectForm.get('possesion').hasError('required') && addProjectForm.get('possesion').touched)">
                            This field is mandatory
                          </span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Status</label>
                          <select class="form-control" formControlName="status">
                            <option selected>Select</option>
                            <option value="New">New</option>
                            <option value="Old">Old</option>
                            <option value="Sold Out">Sold Out</option>
                            <option value="Fast Filing">Fast Filing</option>
                          </select>
                          <span class="error" *ngIf="(addProjectForm.get('status').hasError('required') && addProjectForm.get('status').touched)">
                            This field is mandatory
                          </span>
                        </div>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Website</label>
                          <input type="text" class="form-control"  placeholder="Enter link" formControlName="website">
                          <span class="error" *ngIf="(addProjectForm.get('website').hasError('required') && addProjectForm.get('website').touched)">
                            This field is mandatory
                          </span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Knowledge Centre</label>
                          <input type="text" class="form-control"  placeholder="Enter link"  formControlName="knowledge">
                          <span class="error" *ngIf="(addProjectForm.get('possesion').hasError('required') && addProjectForm.get('knowledge').touched)">
                            This field is mandatory
                          </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group text-right">
                          <button class="btn btn-secondary btn-sm mt-4" type="submit"  [disabled]='!addProjectForm.valid'>Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
