<div class="main">
  <section>
    <!--   <button id="sideBar">Show/Hide Right Push Menu</button> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-7">
                  <h1>Leads</h1>
                </div>
                <div class="col-md-5">
                  <div class="input-group search-header">
                    <img src="images/search_icon.svg" alt="">
                    <input type="text" class="form-control" placeholder="Search Name, Email or Phone" aria-label="Search Name, Email or Phone" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <table id="dataTables" class="table table-borderless table-hover dataTables">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Assigned to</th>
                    <th>Status</th>
                    <th>Next Call Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Uday Gupta</td>
                    <td>987654643131</td>
                    <td>test@abcsd.com</td>
                    <td>Rishi bnasal</td>
                    <td>New</td>
                    <td>24/02/2020</td>
                    <td>
                      <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                      <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                    </tr>
                    <tr>
                      <td>Uday Gupta</td>
                      <td>987654643131</td>
                      <td>test@abcsd.com</td>
                      <td>Rishi bnasal</td>
                      <td>New</td>
                      <td>24/02/2020</td>
                      <td>
                        <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                        <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                      </tr>
                      <tr>
                        <td>Uday Gupta</td>
                        <td>987654643131</td>
                        <td>test@abcsd.com</td>
                        <td>Rishi bnasal</td>
                        <td>New</td>
                        <td>24/02/2020</td>
                        <td>
                          <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                          <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                        </tr>
                        <tr>
                          <td>Uday Gupta</td>
                          <td>987654643131</td>
                          <td>test@abcsd.com</td>
                          <td>Rishi bnasal</td>
                          <td>New</td>
                          <td>24/02/2020</td>
                          <td>
                            <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                            <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                          </tr>
                          <tr>
                            <td>Uday Gupta</td>
                            <td>987654643131</td>
                            <td>test@abcsd.com</td>
                            <td>Rishi bnasal</td>
                            <td>New</td>
                            <td>24/02/2020</td>
                            <td>
                              <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                              <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                            </tr>
                            <tr>
                              <td>Uday Gupta</td>
                              <td>987654643131</td>
                              <td>test@abcsd.com</td>
                              <td>Rishi bnasal</td>
                              <td>New</td>
                              <td>24/02/2020</td>
                              <td>
                                <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                                <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                              </tr>
                              <tr>
                                <td>Uday Gupta</td>
                                <td>987654643131</td>
                                <td>test@abcsd.com</td>
                                <td>Rishi bnasal</td>
                                <td>New</td>
                                <td>24/02/2020</td>
                                <td>
                                  <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                                  <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                                </tr>
                                <tr>
                                  <td>Uday Gupta</td>
                                  <td>987654643131</td>
                                  <td>test@abcsd.com</td>
                                  <td>Rishi bnasal</td>
                                  <td>New</td>
                                  <td>24/02/2020</td>
                                  <td>
                                    <a href="" class="btn-action" data-toggle="modal" data-target="#editModal"><img src="images/icons8-edit.svg" alt=""></a>
                                    <a href="" class="btn-action"><img src="images/bin.svg" alt=""></a></td>
                                  </tr>
                                  
                                </tbody>
                                
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </section>
                  
                </div>
