<div class="main">
  <section>
    <!--   <button id="sideBar">Show/Hide Right Push Menu</button> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-7">
                  <h1>Leads</h1>
                </div>
                <div class="col-md-5">
                  <div class="input-group search-header">
                    <img src="images/search_icon.svg" alt="">
                    <input type="text" class="form-control" placeholder="Search Name, Email or Phone" aria-label="Search Name, Email or Phone" aria-describedby="button-addon2" 
                    [(ngModel)]="searchString">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getLeads()">Search</button>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <div class="col-md-12">
                <a (click)="sendMailToLead()"  class="btn btn-project float-right"  [class.disabled]="leadIdArray.length==0"  ><i class="fa plus-icon">+</i>Send Mail</a>
                <a (click)="viewProjectList(viewProject,10)"  data-toggle="modal" data-target="#viewProject"   class="btn btn-project float-right"  [class.disabled]="leadIdArray.length==0"  ><i class="fa plus-icon">+</i>Send Bulk Mail</a>
              </div>
              <table  id="DataTables" class="table table-borderless table-hover dataTables" datatable [dtOptions]="leadTableOptions" [dtTrigger]="leadTableTrigger">
                <thead>
                  <tr>
                    <th><input type="checkbox"  [(ngModel)]="universalChecked" (change)="pushAllLeadID($event)">Select</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Assigned to</th>
                    <th>Status</th>
                    <th>Next Call Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let lead of responses;let i=index">
                    <td><input type="checkbox"  *ngIf="!universalChecked" (change)="pushLeadID(lead.id)" [checked]="isLeadPresent(lead.id)">
                    <input type="checkbox"  [(ngModel)]="singleChecked" *ngIf="universalChecked" (change)="pushLeadID(lead.id)"></td>
                    <td>{{lead.name}}</td>
                    <td>{{lead.phone}}</td>
                    <td>{{lead.email}}</td>
                    <td>{{lead.broker_name}}</td>
                    <td>{{lead.status_name}}</td>
                    <td>{{lead.ncd}}</td>
                    <td>
                      <a href="" class="btn-action" data-toggle="modal" data-target="#viewLead" (click)="viewProjectData(viewLead,lead.id)"><img src="../../../assets/images/icons8-edit.svg" alt=""></a>
                      <a href="" class="btn-action"><img src="../../../assets/images/bin.svg" alt=""></a></td>
                    </tr>
                    
                                  
                                </tbody>
                                
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </section>
                  
                </div>
                <ng-template #viewLead>
                   <!-- Modal -->
                   <div class="modal fade" id="viewLead" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Lead Details</h5>
                          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Enquiry Number</span>
                                <span class="lead-info">ENQ123538</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Full Name</span>
                                <span class="lead-info">Ayush Jain</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Mobile Number</span>
                                <span class="lead-info">970025401</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Primary Email</span>
                                <span class="lead-info">email007ail.com</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Enquiry Source</span>
                                <span class="lead-info">Website</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Location</span>
                                <span class="lead-info">Kalyan</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Property Type</span>
                                <span class="lead-info">ENQ123538</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Maximum Budget</span>
                                <span class="lead-info">75L</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Enquired For</span>
                                <span class="lead-info">Godrej Skyline</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <h4 class="lead-heading mt-4 mb-3">Broker Status</h4>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Enquiry Status</span>
                                <span class="lead-info">Hot</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Next Action Date</span>
                                <span class="lead-info">26/02/2020</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Assigned To</span>
                                <span class="lead-info">A1 Enterprises</span>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <span class="lead-title">Comment</span>
                                <span class="lead-info">Very much interested in the property.</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <h4 class="lead-heading mt-4 mb-3">My Status</h4>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Enquiry Status</span>
                                <span class="lead-info">New</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Next Action Date</span>
                                <span class="lead-info">26/02/2020</span>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <span class="lead-title">Assigned To</span>
                                <span class="lead-info">Mayur Patil</span>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <span class="lead-title">Comment</span>
                                <span class="lead-info">Very much interested in the property.</span>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                        
                      </div>
                    </div>
                  </div>

                  </ng-template>
 <ng-template #viewProject>
  <div class="modal fade" id="viewProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  <table id="DataTables-Project" class="table table-borderless table-hover dataTables" datatable [dtOptions]="projectListTableOptions" [dtTrigger]="projectListTableTrigger">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Location</th>
        <th>Details</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let project of projects;let i=index">
        <td>{{project.title}}</td>
        <td>{{project.locality_name}}</td>
        <td><a><span style="color: #4C8BD4;" (click)="goToProjectDetails(project.id)">View More</span></a></td>
        <td><input type="checkbox"  (change)="pushProjectID(project.id)"></td>
      </tr>
      </tbody>
   </table>
   
  </div>
  <div class="modal-footer" style="background-color: #dbf0f7;">
    <div class="col-md-12">
      <a class="btn btn-project float-right"  (click)="sendBulkMailToLead()"><i class="fa plus-icon"></i>Send</a>
    </div>
  </div>
  </div>
  </div>
  </div>
 </ng-template>
                 